@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wonky-border {
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  }
  
  .wonky-border-sm {
    border-radius: 25px 5px 22px 5px / 5px 22px 5px 25px;
  }

  .text-outline {
    text-shadow: 
      -2px -2px 0 #FF0000,  
       2px -2px 0 #FF0000,
      -2px  2px 0 #FF0000,
       2px  2px 0 #FF0000;
  }
}

body {
  @apply bg-claw-bg text-white font-wonky;
  background-image: radial-gradient(#330000 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Custom scrollbar to look drawn */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #000000; 
  border-left: 2px solid #FF0000;
}
::-webkit-scrollbar-thumb {
  background: #FF0000; 
  border: 2px solid #000000;
  border-radius: 10px;
}
